<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src="{{owner.avatar_url}}" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <h3 style="margin-bottom: 0;"><u>{{name}}</u></h3>
                <p>
                    <br>
                    <a class="links" href="{{clone_url}}">Link to the Github Repo</a></br>
                    <strong>Description</strong></br>
                    {{description}}</br>
                    <strong>Webpage for the app:</strong> <a class="links" href="{{homepage}}">Homepage</a></br>
                    <strong>The language for this project is:</strong> {{language}}
                </p>
            </div>
        </div>
    </article>
</div>